.login {
    position: relative;
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    overflow: hidden;
}

.login-bg-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #ffffff;
    z-index: 1;
}

.login-container {
    max-width: 400px;
    margin: auto;
    z-index: 1;
    position: relative;
    padding: 40px 20px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
}

.login-greet {
    margin-bottom: 40px;
    font-size: 32px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
}

.login-greet span {
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form input {
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    outline: none;
}

.login-form button {
    padding: 12px;
    font-size: 16px;
    border: none;
    background-color: #4b90ff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.bottom-info {
    font-size: 13px;
    margin-top: 20px;
    text-align: center;
    color: #f0f0f0;
    font-weight: 300;
}